.card {
    background-color: #112949;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    width: 250px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-header {
    color: #3CC3F2;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.card-icon {
    width: 40px;
    height: 40px;
    margin-right: 16px;
}

.card-heading {
    font-size: 1.25em;
    margin: 0;
}

.card-description {
    color: #FFFFFF;
    font-size: 1em;
}
